.nav-container {
  position: absolute;
  display: block;
  background: #fff;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
  -webkit-transition: width 2s, height 4s;
  /* Safari */
  animation: slideMenu 0.5s forwards 0s linear;
  transition: visibility 0s, opacity 0.5s linear;

#dp{
  display: block;
  border-radius: 50%;
  background:#5e0d6742;
  width: 50px;
  height: 50px;
  margin: 2em auto 1em auto;
}
  nav {
    background: #fff;

    ul {
      //   display: none;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 0.8em;
          display: block;
          padding: 1.5em 3em;
          background-color: rgba(255, 255, 255, 0.3);
          color: #000;
          widows: 100%;

          &:hover {
            background: #fff;
          }
        }
      }

      @media only screen and (min-width:750px) {
        display: block;
        /* margin: 2em; */
        position: relative !important;
        background: none !important;
        width: 100% !important;
      }
    }

    @media only screen and (min-width:750px) {
      background: none;
    }


  }
}


@keyframes slideMenu{
    0%{
        transform: translateX(-100px);
        opacity: 0;
        }
    24%{
        transform: translateX(-70px);
        opacity: 0.3;
        }
    50%{
        transform: translateX(-40px);
        opacity: 0.6;
        }
    79%{
        transform: translateX(-20px);
        opacity: 0.8;
        }
    100%{
        transform: rotate(xx) translateX(0);
        opacity: 1;
        }
}
