<div class="container">
  <aside>
    <figure>
        <div id="avator"></div>
        <figcaption>Ndu Mnise</figcaption>
    </figure>
    <img id="menu-btn" (click)="toggleMenu()" src="../../assets/home-images/menu.svg" alt="">
    <nav>
        <ul class="">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a routerLink="slider">See slide
                </a>
            </li>
            <li>
                <a href="#">Contact </a>
            </li>
        </ul>
    </nav>
    
  </aside>


  <main>
    <app-mobile-nav *ngIf="showMobleMenu"></app-mobile-nav>
    <h1>Silde show | <i>CSS , HTML5 ,JS</i></h1>
    <p>
      Power...
    </p>
    <a href="#" class="cta">My portfolio</a>
  </main>
</div>