<div class="container">
  <aside>
    <figure>
        <div id="avator"></div>
        <figcaption>Ndu Mnise</figcaption>
    </figure>
    <img id="menu-btn" (click)="toggleMenu()" src="../../assets/home-images/menu.svg" alt="">
    <nav>
        <ul class="">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a routerLink="slider">See slide
                </a>
            </li>
            <li>
                <a routerLink="css-waves">CSS WAVES </a>
            </li>
        </ul>
    </nav>
    
  </aside>


  <main>
    <app-mobile-nav *ngIf="showMobleMenu"></app-mobile-nav>
    <h1>I am a developer of things</h1>
    <p>
        I love learning all the skill
         that relates to software development,
          That what I call a full stack
        developer.
    </p>
    <a href="#" class="cta">My portfolio</a>
  </main>
</div>